body {
	padding: 0;
	margin: 0;
	
}

#main {
	width: 80%;
	height: 100%;
	z-index: 100;
	background: rgba(230,230,230,0.4);
	position: relative;
	margin: 100px auto;
	border-radius: 10px;
	padding: 20px;
	max-width: 500px;
	color: #4A4F6C;
	font-size: 20px;
}

#youtube {
	z-index: 100;
	position: fixed;
	left: 0;
	margin: auto;
	width: 100vw;
	height: 100vh;
	background: black;
	text-align: center;
	padding-top: 10%;
	top: 0;
	display: none;;
}

img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}